.xdvirjtvipynx {
    color: #000;
    background-color: #0000;
    border: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Inter, Arial;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 29px;
    display: flex;
  }
  
  .rectangle-26 {
    height: 100%;
    background-color: #0986ccb3;
    border-radius: 30px;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: stretch;
    padding-right: 1px;
    display: flex;
  }